---
title:  Услуги
layout: page
image:  services-page-image.png
local_menu: false
---

h2
  | Наша компания предоставляет услуги физическим и юридическим лицам в пределах Москвы и Московской области.

p
  | Мы берём на себя решение всего комплекса работ, связанных с подбором, установкой, обслуживанием, диагностикой и
    ремонтом климатической и вентиляционной техники. Готовы помочь нашим клиентам в оперативном решении следующих
    задач:

= partial 'partials/articles_list', locals: {name: 'services'}
