@import "vars";

.articles {
  h1 {
    margin-bottom: font-between(79px, 36px, default, base, 14px, default, base);
  }

  .article {
    h3 {
      margin: font-between(12px, 14px, default, base, 18px, default, base, $em: below) 0 font-between(20px, 18px, default, base, 14px, default, base);
      a { text-decoration: none; }
    }

    p {
      @include font(em(14px));
      margin: font-between(20px, 14px, default, base, 14px, default, base) 0;
    }

    .image {
      height: em(100px);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: font-top(19px, 18px, $em: 16px);
    }
  }
}

.article .content {
  h1 {
    margin-bottom: font-between(20px, 36px, default, base, 14px, default, base);
  }

  .date {
    margin-bottom: font-between(38px, 14px, default, base, 16px, default, base);
  }
}

ul.articles {
  list-style-type: none;
  padding-left: em(38px);

  & > li {
    @include font(em(18px));
    margin: font-between(27px, 18px, default, base, 18px, default, base) 0;
    text-indent: em(-31px, 18px);
    &:before {
      content: '•';
      color: #bbbbbb;
      padding-right: em(22px, 18px);
    }
  }
}
