@import "vars";

.content {
  summary {
    font-weight: bold;
    padding-left: em(48px);
  }

  .section {
    display: table;
    position: relative;
    &:before {
      @include position(absolute, 0, 0, em(60px), em(4px));
      background: $green-color;
      content: '';
    }
  }

  &.section-container {
    margin-top: em(70px);
    .local-menu:first-child { margin-top: em(-25px); }
  }
}

.with-image .content.section-container {
  margin-top: em(39px);
}

.article .content {
  h1 {
    margin-bottom: font-between(20px, 36px, default, base, 14px, default, base);
  }

  .date {
    margin-bottom: font-between(38px, 14px, default, base, 16px, default, base);
  }
}
