@import "vars";

.content {
  h2 {
    @include font(em(36px));
    margin-top: font-top(20px, 36px);
  }

  summary { font-weight: bold; }

  .section {
    display: table;
    position: relative;
    &:before {
      @include position(absolute, 0, 0, em(60px), em(4px));
      background: $green-color;
      content: '';
    }
  }

  &.section-container {
    margin-top: em(70px);
  }
}
