@import "vars";

header {
  nav {
    margin: em(54px) 0 font-bottom(26px, 18px, 1);
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        @include font(em(18px), 1, bold);
        white-space: nowrap;
        a {
          transition: 0.3s;
          text-decoration: none;
          color: $text-color;
        }
        &.active a, &:hover a {
          color: $green-color;
          text-decoration: none;
        }
      }
    }
  }
}

.welcome-menu {
  background: $bg-color;

  ul {
    list-style: none;
    margin: em(80px) auto em(50px);
    padding: 0;

    li {
      display: block;

      &.uk-active, &:hover {
        a {
          .image { border-color: $blue-color; background: $blue-color; transform: scale(1.2); }
          .text  { color: $blue-color; }
        }
      }

      a {
        @include font(em(18px), default, bold, $text-color);
        display: block;
        text-align: center;
        text-decoration: none;
        outline: 0;

        .text { transition: 0.3s; }

        .image {
          transition: 0.3s;
          @include size(em(114px, 18px));
          background: $green-color;
          margin: 0 auto font-top(59px, 18px);
          border-radius: 50%;
          border: 3px solid $green-color;
        }
      }
    }
  }
}

.content {
  ul.local-menu {
    padding: 0;
    margin: em(45px) 0;
    list-style: none;
    li {
      margin-left: em(30px);
      display: inline-block;
      @include font(em(18px), 1, bold);
      white-space: nowrap;
      &:first-child { margin-left: 0; }
      &.active {
        a { color: $text-color; text-decoration: none; }
        position: relative;
        &:after {
          position: absolute;
          bottom: -10px;
          border-width: 6px 7px 0 7px;
          border-color: $text-color transparent transparent transparent;
          left: 50%;
          margin-left: -7px;
          width: 0;
          height: 0;
          border-style: solid;
          content: '';
        }
      }
    }
  }
}
