@import "vars";

.slider-wrapper {
  margin-top: -2px;
  border-top: 4px solid #8bb190;
  background: #e3e7ec;
}

.slider {
  margin-top: -4px;
  border-top: 4px solid $green-color;
  position: relative;

  .uk-overlay-panel {
    h2 {
      @include font(em(36px), 40/36, normal, $text-color);
      display: block;
      position: absolute;
      left: em(100px, 36px);
      right: 50%;
      top: 50%;
      margin: 0;
      transform: translateY(-50%);
    }
  }

  .slide-02, .slide-04, .slide-05 { h2 { top: em(80px, 36px); transform: none; } }

  a.slidenav {
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: em(22px) auto;
    width: em(62px);
    outline: 0;
    &:hover { opacity: 0.5; }
    &.prev {
      background-image: image-url('slider-nav-prev.png');
      left: 0;
    }
    &.next {
      background-image: image-url('slider-nav-next.png');
      right: 0;
    }
  }
}
