/* line 4, /projects/middleman/climatzon/source/stylesheets/articles.scss */
.articles h1 {
  margin-bottom: 1.87803em; }
/* line 8, /projects/middleman/climatzon/source/stylesheets/articles.scss */
.articles h3 {
  margin: 0.31489em 0 0.73578em; }
  /* line 10, /projects/middleman/climatzon/source/stylesheets/articles.scss */
  .articles h3 a {
    text-decoration: none; }
/* line 13, /projects/middleman/climatzon/source/stylesheets/articles.scss */
.articles p {
  font-size: 0.875em;
  margin: 1.01957em 0; }

/* line 20, /projects/middleman/climatzon/source/stylesheets/articles.scss */
.article .content h1 {
  margin-bottom: 0.23914em; }
/* line 24, /projects/middleman/climatzon/source/stylesheets/articles.scss */
.article .content .date {
  margin-bottom: 2.28364em; }
