/* line 4, /projects/middleman/climatzon/source/stylesheets/content.scss */
.content summary {
  font-weight: bold;
  padding-left: 3em; }
/* line 9, /projects/middleman/climatzon/source/stylesheets/content.scss */
.content .section {
  display: table;
  position: relative; }
  /* line 12, /projects/middleman/climatzon/source/stylesheets/content.scss */
  .content .section:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 3.75em;
    height: 0.25em;
    background: #71a077;
    content: ''; }
/* line 19, /projects/middleman/climatzon/source/stylesheets/content.scss */
.content.section-container {
  margin-top: 4.375em; }
  /* line 21, /projects/middleman/climatzon/source/stylesheets/content.scss */
  .content.section-container .local-menu:first-child {
    margin-top: -1.5625em; }

/* line 25, /projects/middleman/climatzon/source/stylesheets/content.scss */
.with-image .content.section-container {
  margin-top: 2.4375em; }
