/* line 3, /projects/middleman/climatzon/source/stylesheets/header.scss */
header {
  border-bottom: 2px solid #71a077; }
  /* line 6, /projects/middleman/climatzon/source/stylesheets/header.scss */
  header img.logo {
    position: relative;
    left: -0.375em;
    top: 0.5em;
    float: left; }
  /* line 11, /projects/middleman/climatzon/source/stylesheets/header.scss */
  header .header {
    margin-left: 13.5625em; }
  /* line 129, /projects/middleman/climatzon/source/stylesheets/vars.scss */
  header .slogan:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  /* line 16, /projects/middleman/climatzon/source/stylesheets/header.scss */
  header .slogan h2 {
    font-size: 1.875em;
    line-height: 1;
    font-weight: 900;
    color: #71a077;
    font-style: italic;
    margin-top: 0.59067em; }
    /* line 19, /projects/middleman/climatzon/source/stylesheets/header.scss */
    header .slogan h2::first-line {
      color: #587fad; }
  /* line 22, /projects/middleman/climatzon/source/stylesheets/header.scss */
  header .slogan p {
    color: #808080; }
  /* line 25, /projects/middleman/climatzon/source/stylesheets/header.scss */
  header .contacts {
    float: right;
    padding-top: 1.375em; }
    /* line 29, /projects/middleman/climatzon/source/stylesheets/header.scss */
    header .contacts .right-block, header .contacts .left-block {
      float: right; }
    /* line 31, /projects/middleman/climatzon/source/stylesheets/header.scss */
    header .contacts .left-block {
      padding-right: 1.75em;
      text-align: right; }
      /* line 35, /projects/middleman/climatzon/source/stylesheets/header.scss */
      header .contacts .left-block .phone {
        font-size: 1.5em;
        line-height: 1;
        font-weight: 900;
        color: #587fad;
        white-space: nowrap; }
        /* line 38, /projects/middleman/climatzon/source/stylesheets/header.scss */
        header .contacts .left-block .phone .code {
          color: #71a077;
          font-weight: 400; }
      /* line 44, /projects/middleman/climatzon/source/stylesheets/header.scss */
      header .contacts .left-block .mail {
        color: #71a077;
        text-decoration: none;
        margin-top: 0.1875em;
        display: inline-block; }
      /* line 51, /projects/middleman/climatzon/source/stylesheets/header.scss */
      header .contacts .left-block .mitsubishi {
        margin-top: 2em; }
    /* line 58, /projects/middleman/climatzon/source/stylesheets/header.scss */
    header .contacts .right-block p {
      margin: 2em 0 0;
      padding: 0.3485em 0 0 1.75em;
      border-left: 1px solid #cccccc; }
    /* line 63, /projects/middleman/climatzon/source/stylesheets/header.scss */
    header .contacts .right-block p, header .contacts .right-block p a {
      color: #808080;
      font-style: italic;
      text-decoration: none; }
    /* line 67, /projects/middleman/climatzon/source/stylesheets/header.scss */
    header .contacts .right-block p a:hover {
      color: #587fad; }
