/* line 3, /projects/middleman/climatzon/source/stylesheets/slider.scss */
.slider-wrapper-01 {
  margin-top: -2px;
  background-image: url("/climatzon/images/slider-bg-01.png");
  background-repeat: no-repeat;
  background-position: left 4px; }
  /* line 9, /projects/middleman/climatzon/source/stylesheets/slider.scss */
  .slider-wrapper-01 .slider-wrapper-02 {
    border-top: 4px solid #8bb190;
    background-image: url("/climatzon/images/slider-bg-02.png");
    background-repeat: no-repeat;
    background-position: right 0; }

/* line 17, /projects/middleman/climatzon/source/stylesheets/slider.scss */
.slider {
  margin-top: -4px;
  border-top: 4px solid #71a077;
  position: relative; }
  /* line 22, /projects/middleman/climatzon/source/stylesheets/slider.scss */
  .slider .uk-overlay-panel {
    padding-left: 6.25em; }
    /* line 24, /projects/middleman/climatzon/source/stylesheets/slider.scss */
    .slider .uk-overlay-panel h2 {
      font-size: 3em;
      line-height: 1.25;
      font-weight: bold;
      text-transform: uppercase;
      margin: auto 0;
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  /* line 35, /projects/middleman/climatzon/source/stylesheets/slider.scss */
  .slider a.slidenav {
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.375em auto;
    width: 3.875em;
    outline: 0; }
    /* line 46, /projects/middleman/climatzon/source/stylesheets/slider.scss */
    .slider a.slidenav:hover {
      opacity: 0.5; }
    /* line 47, /projects/middleman/climatzon/source/stylesheets/slider.scss */
    .slider a.slidenav.prev {
      background-image: url("/climatzon/images/slider-nav-prev.png");
      left: 0; }
    /* line 51, /projects/middleman/climatzon/source/stylesheets/slider.scss */
    .slider a.slidenav.next {
      background-image: url("/climatzon/images/slider-nav-next.png");
      right: 0; }
